{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Film</title>
</head>
<body>
    <h1>Halaman Film</h1>

    <!-- Informasi Tayangan -->
    <h2>Informasi Tayangan</h2>
    <ul>
        <li><strong>Judul:</strong> The Godfather</li>
        <li><strong>Sinopsis:</strong> An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.</li>
        <li><strong>Asal Negara:</strong> USA</li>
        <li><strong>Total View (All Time):</strong> 3</li>
        <li><strong>Genre:</strong> 3</li>
        <li><strong>Rating Rata-Rata:</strong>7.0</li>
    </ul>

    <!-- Informasi Film (jika ada) -->
    <h2>Informasi Film</h2>
    <ul>
        <li><strong>Durasi Film:</strong> 75 menit</li>
        <li><strong>Tanggal Rilis Film:</strong> 24-03-1972</li>
        <!-- Jika ingin menampilkan video film, tambahkan tag video di sini -->
    </ul>

    <!-- Daftar Pemain (jika ada) -->
    <h2>Pemain</h2>
    <ul>
        <li>Olga Ivanova</li>
    </ul>

    <!-- Daftar Penulis Skenario (jika ada) -->
    <h2>Penulis Skenario</h2>
    <ul>
        <li> Sophia Mueller</li>
    </ul>

    <!-- Daftar Sutradara (jika ada) -->
    <h2>Sutradara</h2>
    <ul>
        <li>Luisa Oliveira</li>
    </ul>

    <!-- Daftar Episode (jika ada) -->
    <h2>Episode</h2>
    <ul>
        <li>0 - 12</li>
    </ul>

    <!-- Daftar Ulasan (jika ada) -->
    <h2>Ulasan</h2>
    <ul>
        <li><strong>Username:</strong> user10</li>
        <li><strong>Deskripsi:</strong> Filmya seru bgt!</li>
        <li><strong>Rating:</strong> 7.0</li>
    </ul>

</body>
</html>
{% endblock content %}
