{% extends 'base.html' %}

{% block content %}
<style>
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
     
        input[type="range"]::-webkit-slider-thumb {
            width: 15px;
            -webkit-appearance: none;
  			appearance: none;
            height: 15px;
            cursor: ew-resize;
            background: #FFF;
            box-shadow: -405px 0 0 400px #605E5C;
            border-radius: 50%;
            
        }
    }
</style>
<div class="mx-auto min-h-screen bg-[#242831] font-inter_tight pb-6">
<div class="container mx-auto px-4 py-4" style="cursor: auto;">
    <div class="mb-12 text-slate-100 text-center">
        <h1 class="pt-16 pb-4 font-bold text-5xl drop-shadow-md"><span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">Episode</span> page</h1>
    </div>
    <div class="flex flex-col">
        <div class="mb-4">
            <table>
                {% for eps in episode_khusus %}
                <tr>
                    <td class="text-left">
                        <div class="mt-10 mb-2 text-slate-100">
                            <p class="text-xl">Title: {{ eps.judul }}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="mt-3 mb-2 text-slate-100">
                            <p class="text-xl">Episode title: {{ eps.sub_judul }}</p>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="mb-4">
            <table>
                {% for eps in release_episode %}
                    {% if episode_khusus.0.sub_judul == eps.sub_judul %}
                        <tr>
                            <td class="text-left">
                                <div class="mt-5">
                                    <input id="input-range" class="w-full rounded-lg overflow-hidden appearance-none bg-gray-400 h-4 w-128" type="range" min="1" max="100" step="1" value="0" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a href="#" class="w-full block rounded-md font-bold border border-gray-600 px-12 py-3 duration-200 text-white border-white hover:bg-white hover:text-[#242831]">
                                    Tonton 
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="mb-4">
            <table>
                <tr>
                    <td class="text-left">
                        <div class="mt-3 mb-2 text-slate-100">
                            <p class="text-xl">Other episodes:</p>
                        </div>
                        <ul>
                            {% for eps in episode %}
                            <li class="mb-6 text-center">
                                <a href="{% url 'shows:episode' judul=eps.judul sub_judul=eps.sub_judul %}" class="max-w-48 block rounded-md font-bold border border-gray-600 px-12 py-3 duration-200 text-white border-white hover:bg-white hover:text-[#242831]">
                                    Episode {{ forloop.counter }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% for eps in episode_khusus %}
                        <div class="mt-3 mb-2 text-slate-100">
                            <p class="text-xl">Episode synopsis: {{ eps.sinopsis }}</p>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% for eps in episode_khusus %}
                        <div class="mt-1 mb-2 text-slate-100">
                            <p class="text-xl">Episode duration: {{ eps.durasi }}</p>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% for eps in episode_khusus %}
                        <div class="mt-1 mb-2 text-slate-100">
                            <p class="text-xl">Episode URL: {{ eps.url_video }}</p>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% for eps in episode_khusus %}
                        <div class="mt-1 mb-2 text-slate-100">
                            <p class="text-xl">Episode release date: {{ eps.release_date }}</p>
                        </div>
                        {% endfor %}
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}