<h1>{{ title }}</h1>
<h3>{{ subtitle }}</h3>

<table style="width: 100%; border-collapse: collapse">
	<thead>
		<tr>
			<th style="border: 1px solid #ddd; padding: 8px">Judul</th>
			<th style="border: 1px solid #ddd; padding: 8px">Sinopsis</th>
			<th style="border: 1px solid #ddd; padding: 8px">Asal Negara</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
		<tr>
			<td style="border: 1px solid #ddd; padding: 8px">{{ row.judul }}</td>
			<td style="border: 1px solid #ddd; padding: 8px">{{ row.sinopsis }}</td>
			<td style="border: 1px solid #ddd; padding: 8px">
				{{ row.asal_negara }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
